<main>
    <form action="/artist-search" method="GET">
        <input name="artistName" placeholder="Search..." type="text">
        <button type="submit">Search for an Artist</button>
    </form>
</main>